<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type ="text/css" >
   .footer{
       position: fixed;
       text-align: center;
       bottom: 0px;
       width: 100%;
   }
   body {
   background-color: #DBF9FC;
<!--   background-image: url('background-image.jpg');-->
   }
   h1   {
<!--   color: blue;-->
   font-family: Optima;
   }
   h2 {
   font-family: Luminari;
   }
   </style>
    <div class="bd-example" align="middle">
    <title>Yo!</title>

</head>
<body >
    <h1>Yo!</h1>
    <h2>Welcome to FlaskApp!</h2>
    <h2> I have been seen {{hits}} times, and my hostname is {{hostname}}. </h2>
    <div class="footer"><a href="https://github.com/thestrid3r/HelloWorld">About</a></div>
</body>
</html>